AtividadeS1_2_Calculadora_Client/Service References/Service.Calculadora/Calculator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Somar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor1" type="xs:float" />
        <xs:element minOccurs="0" name="valor2" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SomarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SomarResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subtrair">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor1" type="xs:float" />
        <xs:element minOccurs="0" name="valor2" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubtrairResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubtrairResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multiplicar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor1" type="xs:float" />
        <xs:element minOccurs="0" name="valor2" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplicarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultiplicarResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Dividir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor1" type="xs:float" />
        <xs:element minOccurs="0" name="valor2" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DividirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DividirResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>